/* Feuille de style de galilee.eedf.fr */

/* fontes */
@import url(//fonts.googleapis.com/css?family=Sonsie+One);
@import url(//fonts.googleapis.com/css?family=Noto+Serif:400,400italic);

/* body et balises principales */

body {
    background: #F4EED9;
    margin : auto;
    width : 90ex;
    max-width:95%;
    font-family: 'Noto Serif', serif;
    padding: 1em;
    font-size: 11pt;
}
body.large {
    max-width:none;
    margin:0;
}


h1, h2 {
    font-family: 'Sonsie One', cursive;    
}
h2 {
    color: #0B535B;
    font-size:120%;
    /*width:50ex;*/
    width:75%;
    border-bottom: 3px double #0B535B;
    padding-left:1ex;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dashed #0B535B;
}
a:hover {
    text-decoration: none;
    border-color: #AD0101;
    color: #AD0101;
}

.phone:before{
    content: url(phone-sign.png)" ";
}
.email:before{
    content: url(Envelope_closed-red.png)" ";
}

/* EEDf Fleurons */
hr.fleuron {
    display: block;
    height: 24px;
    width: 24px;
    border: none;
    padding: 0;
    font-size: 3em;
    line-heiht: 1;
    text-align: center;
    color: black;
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background: top url(eedf-black-minilogo.png) no-repeat;
}
hr.fleuron.red {
    background: top url(eedf-red-minilogo.png) no-repeat;
}
hr.fleuron.blue {
    background: top url(eedf-blue-minilogo.png) no-repeat;
}

/* structure de la page et styles par élément*/

/* header */
header {
    margin-top: 2em;
    margin-left: 4em;
    background: top left url(globe.png) no-repeat;
    padding-left: 70px;
    min-height:75px;
}
header h1{
    color: #AD0101;
    padding:0 0 0 0;
    margin:0;
    font-size: 250%;
}
header p{
    font-style: italic;
    text-transform: lowercase;
    color: #0B535B;
    margin:0;
    padding:0;
}

/* navigation */
nav{
    position: absolute;
    top:0;
    right:0;
    font-style: italic;
    text-align:right;
    /*border-left: 1px solid #0B535B; */
    padding:0;
    font-size:80%;
    /*padding-bottom:24px;*/
    padding-left:35px;
    background: center left no-repeat url(eedf-blue-minilogo.png);
}
nav ul{
    list-style:none;
    margin:0;
    padding:1ex;
    border-left: 1px solid #0B535B;
}
nav a{
    color: #0B535B;
    border: none;
}
nav a:hover{
    border:none;
}

/* article */

article h2{
    clear:both;
}

ul.vign{
    list-style: none;
    padding:0;
    margin:0;
    width: 100%;
}
ul.vign li{
    margin: 0.5ex;
    display:inline;
    float:left;
}
ul.vign a, ul.vign div{
    padding:2px;
    height: 4.5em;
    display: block;
    border: #0B535B 1px solid;
}
ul.vign a:hover{
    color: inherit;
}

ul.vign li:hover a{
    background-color: #6fb7bf;
}
ul.vign li:hover a>h3{
    color:black;
}
ul.vign h3 {
    padding:0;
    margin:0;
    color: #AD0101;
    font-size:100%;
}
ul.vign p{
    padding:0;
    padding-left:0.5ex;
    margin:0;
    font-size:85%;
    font-style:italic;
}
ul.col3 a, ul.col3 div{
    width:28ex;
}
ul.col2 a, ul.col2 div{
    width:43ex;
}

iframe.newsbox {
    border: #0B535B 1px solid;
    width: 100%;
}
.newsbox strong{
    color: #AD0101;
}
.newsbox p.signature{
    text-align: right;
    font-size:85%;
    font-style:italic;
}

/* tab */
ul.tablist {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom:0;
}
ul.tablist li {
    display: block;
    border: #0B535B 1px solid;
    flex: 1 1 auto;
}
ul.tablist li.current{
    background-color: #6fb7bf;   
}
ul.tablist li a{
    display: block;
    padding: 3px;
}
ul.tablist li a *{
    padding:0;
    margin:0;
}
ul.tablist li:hover a{
    background-color: #6fb7bf;
}
ul.tablist h3 {
    padding:0;
    margin:0;
    color: #AD0101;
    font-size:100%;
}

.tabcontent{
    border: #0B535B 1px solid;
}

/* formulaire en mode table */
form table{
    border-collapse: collapse;
    border:none;
}
form table, form td, form th {
    border-top: 1px solid #0B535B;
    vertical-align: top;
}
form ul.errorlist{
    color: #AD0101;
    font-weight: bold;
}
