{% extends "accounts/base.html" %}

{% block htitle %}Créer un compte{% endblock %}

{% block subtitle %}Créer un compte{% endblock %}

{% block corps %}
<p>
    Félicitations, ton compte d'utilisateurice de Galilée a bien été créé !
<p>

<p>
    Ton nom d'utilisateurice pour te connecter aux différents services de 
    Galilée : <code>{{ login }}</code>
</p>

{% if not SEAF_OIDC_ENABLED %}
<p>
    <strong>Attention :</strong> contrairement aux autres,
    les services <q>Partage de fichier Seafile</q>
    et <q>Outil de formulaire</q> utilisent ton adresse mail 
    (<code>{{ mail }}</code>) comme identifiant.
</p>

<p>
    Dans tous les cas, utilise le mot de passe que tu as donné lors de la 
    création de ton compte.
</p>
{% endif %}

<p>
    Avec ton compte Galilée, tu as également accès à une boîte e-mail :
    <code>{{ login }}@galilee.eedf.fr</code>
</p>

<p>
    <a href="/">Retour à la page d'accueil de Galilée</a>
</p>

{% endblock %}
