{% load static %}
<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="utf-8" />

    <style>
        /* HTML5-specific CSS setup */
        article,aside,figure,footer,header,hgroup,nav,section{display:block}
    </style>

    <link rel="shortcut icon" type="image/x-icon" href="{% static "ecles.ico" %}" />
    <link href="{% static "accueil.css" %}" rel="stylesheet" type="text/css" />
    <!--<link href="http://galilee.eedf.fr/static/cdr.css" rel="stylesheet" type="text/css"/>-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galilée - {% block htitle %}{% endblock %}</title>
    {% block header %}{% endblock %}
</head>

<body id="galilee.eedf.fr">

<nav><ul>
	<li><a href="/">Retour à l'accueil</a></li>
	<li><a href="/aide-galilee/">Obtenir de l'aide</a></li>
</ul></nav>

<header>
	<h1>Galilée</h1>
	<p>{% block subtitle %}{% endblock %}</p>
</header>

<article>
	{% block corps %}
	{% endblock %}

	<hr class="fleuron" />
</article>

</body>
</html>
