{% extends "accounts/base.html" %}

{% block htitle %}Changer de mot de passe{% endblock %}

{% block subtitle %}Changer de mot de passe{% endblock %}

{% block corps %}
<p>
Ce formulaire te permet de changer de mot de passe à l'aide de ton adresse mail.
</p>

<p>
Attention : il faut que tu utilise une adresse associée à ton compte de Galilée.
Si tu as changé d'adresse depuis la création de ton compte, envoie un mail à
<a href="https://galilee.eedf.fr/lintercomcom/">l'InterComCom</a> en précisant
ton ancienne adresse et ta nouvelle.
</p>

<form action="{% url 'changer_mdp' %}" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Changer de mot de passe">
</form>

{% endblock %}
