{% extends "accounts/base.html" %}

{% block htitle %}Créer un compte{% endblock %}

{% block subtitle %}Créer un compte{% endblock %}

{% block corps %}
<p>
Ce formulaire te permet d'activer un compte sur Galilée grâce 
à tes informations d'adhérent·e ou de salarié·e. Ce compte te donnera accès aux différents
services de Galilée.
</p>

<p>(Le fichier adhérent·e et salarié·e de Jeito est synchronisé chaque nuit avec 
Galilée&nbsp;: si ton adhésion a été saisie aujourd'hui, tu pourra te créer
ton compte demain&nbsp;!)</p>

<div class="tab">

<ul class="tablist">
    <li><a href="{% url 'creation' %}">
        <h3>Je suis adhérent·e, salarié·e, service civique</h3>
        <p>aux Éclaireuses Éclaireurs de France</p>
    </a></li>
    <li class="current"><a href="#">
        <h3>Je ne suis pas adhérent·e</h3>
        <p>aux Éclaireuses Éclaireurs de France</p>
    </a></li>
</ul>

<div class="tabcontent">
    <p>
        Ce formulaire permet de te créer un compte si tu n'es
        pas adhérent·e aux EEDF. Ta demande doit avoir un lien avec l'activité
        des EEDF, sinon elle sera refusée (merci de bien préciser ce lien
        dans le formulaire).
    </p>
    
    <p>
        Si tu es membre d'une équipe de groupe (mais pas adhérent·e, car ton
        enfant est adhérent·e), n'hésite pas à envisager d'adhérer&nbsp;!
        L'adhésion est à prix libre (min 1€) pour les bénévoles, et cela te
        permettra de recevoir les infos de l'asso te concernant, ce que ne
        te permettra pas la création d'un compte par cet onglet.
        (Comment faire&nbsp;? Contacte la personne en charge des adhésions de
        ta structure.)
    </p>

    <form action="{% url 'creation_ext' %}" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Créer le compte">
    </form>
</div>
</div>

{% endblock %}
