{% extends "accounts/base.html" %}

{% block htitle %}Créer un compte{% endblock %}

{% block subtitle %}Créer un compte{% endblock %}

{% block corps %}
<p>
Ce formulaire te permet d'activer un compte sur Galilée grâce 
à tes informations d'adhérent·e ou de salarié·e. Ce compte te donnera accès
aux différents services de Galilée.
</p>

<p>(Le fichier adhérent·e et salarié·es de Jeito est synchronisé chaque nuit avec 
Galilée&nbsp;: si ton adhésion a été saisie aujourd'hui, tu pourra te créer
ton compte demain&nbsp;!)</p>

<div class="tab">

<ul class="tablist">
    <li class="current"><a href="#">
        <h3>Je suis adhérent·e, salarié·e, service civique</h3>
        <p>aux Éclaireuses Éclaireurs de France</p>
    </a></li>
    <li><a href="{% url 'creation_ext' %}">
        <h3>Je ne suis pas adhérent·e</h3>
        <p>aux Éclaireuses Éclaireurs de France</p>
    </a></li>
</ul>

<div class="tabcontent">
    <p>
    Ce formulaire va nous permettre de connecter ton compte avec ta fiche
    d'adhérent·e aux éclés. Ton nom, ton prénom et ta date de naissance doivent
    donc correspondre aux infos de ton adhésion. Si cela ne fonctionne pas,
    tu peux rajouter ton numéro d'adhérent·e.
    </p>
    
    <form action="{% url 'creation' %}" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Créer le compte">
    </form>
</div>
</div>

{% endblock %}
