{% extends "accounts/base.html" %}

{% block htitle %}Créer un compte{% endblock %}

{% block subtitle %}Créer un compte{% endblock %}

{% block corps %}
<p>
    La demande de validation correspondant à ce lien n'a pas été trouvée.
</p>

{% if creation %}
<p>
    Peut-être que le compte a déjà été créé ?
</p>
{% else %}
<p>
    Peut-être que le mot de passe a déjà été changé ?
</p>
{% endif %}

{% endblock %}
