{% extends "accounts/base.html" %}

{% block htitle %}Créer un compte{% endblock %}

{% block subtitle %}Créer un compte{% endblock %}

{% block corps %}
<p>
    Ta demande a bien été transmis à la commission communication inter-régionale
    (InterComCom). Laisse-nous le temps de traiter ta demande, un e-mail te
    sera envoyé quand ça sera fait.
</p>

<p>
    Si ton adresse mail est chez Microsoft 
    (<strong>@hotmail.fr, @live.fr, @outlook.fr, @eedf.fr…</strong>), n'hésite
    pas à vérifier tes spams, le mail t'annonçant la création de compte y sera 
    peut-être…
</p>

<p>
    Si tu n'as pas de réponse au bout de plusieurs jours, n'hésite pas à nous
    écrire à 
    <code><a href="mailto:{{ intercomcom_mail }}">{{ intercomcom_mail }}</a></code>.
</p>

{% endblock %}
