{% extends "accounts/base.html" %}

{% block htitle %}Changer de mot de passe{% endblock %}

{% block subtitle %}Changer de mot de passe{% endblock %}

{% block corps %}
<p>
    Un mail de confirmation t'a été envoyé à ton adresse. Tu dois 
    cliquer sur le lien du mail pour valider ton changement de mot de passe.
</p>

<p>
    <strong>Attention</strong> : si tu as un mail de Microsoft 
    (<strong>@hotmail.fr, @live.fr, @outlook.fr, @eedf.fr…</strong>), regarde
    dans tes spams si tu ne vois pas le mail !
</p>

{% endblock %}
