{% extends "accounts/base.html" %}

{% block htitle %}Créer un compte{% endblock %}

{% block subtitle %}Créer un compte{% endblock %}

{% block corps %}
<p>
    Un mail de confirmation t'a été envoyé à l'adresse 
    <code>{{ obs_mail }}</code>. Tu dois
    cliquer sur le lien du mail pour valider la création de ton compte.
</p>

<p>
    <strong>Attention</strong> : si tu as un mail de Microsoft 
    (<strong>@hotmail.fr, @live.fr, @outlook.fr, @eedf.fr…</strong>), regarde
    dans tes spams si tu ne vois pas le mail !
</p>

<p>
    Si cette adresse n'est pas valide, demande à ton/ta responsable des
    adhésions de faire la correction.
</p>

<p>
    Ensuite, il faudra refaire une demande de création de compte. La prise en
    compte du changement de ton adresse mail peut prendre quelques jours.
</p>

{% endblock %}
