{% extends "accounts/base.html" %}

{% block htitle %}Créer un compte{% endblock %}

{% block subtitle %}Créer un compte{% endblock %}

{% block corps %}
<p>
    Le compte <code>{{ login }}</code> ({{ adresse_mail }}) a bien été validé.
</p>
{% endblock %}
