{% extends "accounts/base.html" %}

{% block htitle %}Créer un compte{% endblock %}

{% block subtitle %}Créer un compte{% endblock %}

{% block corps %}
<p>
    Tu viens de refuser la création du compte pour {{ prenom }} {{ nom }}.
</p>

<p>
    N'oublie pas de lui envoyer un mail à l'adresse 
    <code><a href="mailto:{{ mail }}">{{ mail }}</a></code> pour expliquer
    le refus, avec l'InterComCom en copie.
</p>

{% endblock %}
