{% extends "accounts/base.html" %}

{% block htitle %}Filtres pour les listes mails{% endblock %}

{% block subtitle %}Filtres pour les listes mails{% endblock %}

{% block corps %}
<p>
Cet outil permet de créer la plupart des filtres courants pour les listes
e-mail synchronisées avec Jeito.
</p>

{% if filtre_res %}
    <h3>Résultat du filtre :</h3>
    <input type="text" value="{{ filtre_res }}" style="width:100%;">
{% endif %}

<form method="post" style="margin-top:1em">
    {% csrf_token %}
        
    <div class="fieldWrapper">
        {{ form.struct.errors }}
        {{ form.struct.label_tag }}
        {{ form.struct }}
    </div>
    
    <div class="fieldWrapper" style="border: 1px solid black; margin:1ex; padding:1ex;">
        {{ form.fonction_stable.errors }}
        <!--{{ form.fonction_stable.label_tag }}-->
        <h3>Fonctions stables</h3>
        
        <p>Ces fonctions sont à prioriser sur les fonctions non-stables, elles
        sont moins susceptibles de changer en fonction de la saisie dans Jeito.</p>
        
        <ul>
            <li>Membres bénévoles&nbsp;: les respons/respos, les membres 
                d'équipe de groupe, d'équipe régionale (mais pas les RU,
                Trésorie·res, responsables de groupes, régionaux, etc)</li>
            <li>Responsables&nbsp;: les responsables d'unité, de groupe, 
                régionaux…</li>
            <li>Participant·e simple&nbsp;: les participant·es non bénévoles,
                en général les enfants</li>
        </ul>
        
        {{ form.fonction_stable }}
    </div>
    
    <input type="submit" value="Mettre à jour le filtre">
    
    <div class="fieldWrapper" style="border: 1px solid black; margin:1ex; padding:1ex;">
        {{ form.foncton_anc.errors }}
        <h3>Fonctions non-stables</h3>
        
        <p>Ces fonctions ne sont à utiliser que si vous n'avez pas trouver
        les rôles correspondants dans les fonctions stables ci-dessus.</p>
        
        {{ form.fonction_anc }}
    </div>
    <input type="submit" value="Mettre à jour le filtre">
</form>




{% endblock %}
