{% extends "accounts/base.html" %}

{% block htitle %}Erreur de création de compte{% endblock %}

{% block subtitle %}Erreur de création de compte{% endblock %}

{% block corps %}
<p>
    Ton adresse mail <code>{{ mail }}</code> saisie dans le fichier des
    adhérent·es EEDF n'est pas valide, nous ne pouvons donc pas t'envoyer
    de mail pour valider la création de ton compte ou sa modification.
</p>

<p>
    Pour résoudre ce problème, va voir le ou la responsable des adhésions
    de ta structure pour faire corriger ton adresse mail.
</p>

<p>
    Ensuite, tu pourra refaire cette procédure. La prise en
    compte du changement de ton adresse mail peut prendre quelques jours.
</p>

{% endblock %}
