{% extends "accounts/base.html" %}

{% block htitle %}Changer de mot de passe{% endblock %}

{% block subtitle %}Changer de mot de passe{% endblock %}

{% block corps %}
<p>
    Ton mot de passe a bien été changé !
<p>

<p>
    Ton nom d'utilisateurice pour te connecter aux différents services de 
    Galilée : <code>{{ login }}</code>
</p>

{% if not SEAF_OIDC_ENABLED %}
<p>
    <strong>Attention :</strong> contrairement aux autres,
    les services <q>Partage de fichier Seafile</q>
    et <q>Outil de formulaire</q> utilisent ton adresse mail 
    (<code>{{ mail }}</code>) comme identifiant.
</p>

<p>
    Dans tous les cas, utilise le mot de passe que tu viens de re-définir. 
</p>
{% endif %}

<p>
    <a href="/">Retour à la page d'accueil de Galilée</a>
</p>

{% endblock %}
